{% extends 'blog/base.html' %}
{% block content %}
    {% for characters in character %}
                
        <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 list-none p-0">
            <li class="flex w-full">
                <div class="card bg-danger text-white">
                    <img class="card-img-top" src="{{ characters.photo }}" alt="{{ characters.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ characters.code }}</h5>
                         <p class="card-text">{{ characters.description }}</p>
                         <a href="{% url 'character_detail' pk=characters.pk %}" class="stretched-link">plus d'infos</a>
                    </div>
                 </div>
            </li>
        </ul>

            {% endfor %}
            {% endblock %}